<div class="wrapper">
  <nav class="nav" id="nav">
    <div class="default-nav">
      <div class="main-nav">
        <div class="toggle circle"></div>
        <div class="main-nav-item"><a class="main-nav-item-link" href="#">Kabeela</a></div>
        <div class="options"></div>
      </div>
    </div>
  </nav>
  <div class="inner" id="inner">
    <div class="content" id="content">
      <div class="message-wrapper them">
        <div class="circle-wrapper"></div>
        <div class="text-wrapper">Hello there!</div>
      </div>
    </div>
  </div>
  <div class="bottom" id="bottom">
    <textarea class="input" id="input"></textarea>
    <div class="send" id="send"></div>
  </div>
</div>
