@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');
:host{
    margin:200px;
 }

 .tomatoBG{
     background-color:tomato;
 }

 .greenBG{
    background-color:#467E41;
}

.yellowBG{
    background-color:#ce7a04;
}

.blueBG{
    background-color:#18469b;
}


 .blackTX{
     color:black;
 }

button{
    right: 2px;
    position: absolute;
    top: 2px;
}

#nbModal{
  position:fixed;
  top:20px;
  right:70px;
}
