<div id="modal1" class="modal" style="z-index: 1007; opacity: 1; top:60px; max-height:100%; width:30%; ">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12">
                <input id="uname" name="username" type="text" class="validate" autofocus>
                <label for="uname">Enter username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="pword" name="password" type="text" class="validate" (keyup.enter)="loginSetup()">
                <label for="psword">Enter password</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="waves-effect waves-green btn" (click)="loginSetup()">Login</a>
    </div>
</div>
