@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css');

#menu{
  position:fixed;
  top:10px;
  left:10px;
}

#login{
  position:fixed;
  top:10px;
  right:10px;
}

#user{
  position:fixed;
  top:10px;
  right:40%;
}

#chat{
  position:fixed;
  bottom:10px;
  right:10px;
}

.tap-target{
  height:70%;
  width:70%;
  background-color:#26a69a;
}

.wave-ripple{
  top: 21px;
  left: 20px;
}

