  <a id="menu" class=" waves-light btn btn-floating pulse" (click)="toggleSideNav()" ><i class="material-icons">menu</i></a>

  <!-- Tap Target Structure -->
  <div class="tap-target" data-activates="menu">
    <div class="tap-target-content" style="padding:0px;">
      <ul style="float:right;">
        <li style="padding:15px;">
            <a id="countdown" class="waves-effect btn btn-floating white pulse tooltipped" data-position="left" data-delay="50" data-tooltip="Countdown Timer" routerLink="/timer" routerLinkActive="active"><i class="material-icons" style="color:#26a69a;">timelapse</i></a>
        </li>
        <li style="padding:15px; margin-left:-60px; margin-top:45px">
            <a class="waves-effect btn btn-floating white pulse tooltipped" data-position="left" data-delay="50" data-tooltip="Croud" routerLink="/people" routerLinkActive="active"><i class="material-icons" style="color:#26a69a;">people</i></a>
        </li>
        <li style="padding:15px; margin-left:-180px; margin-top:5px">
            <a class="waves-effect btn btn-floating white pulse tooltipped" data-position="bottom" data-delay="50" data-tooltip="Noticeboard" routerLink="/noticeboard" routerLinkActive="active"><i class="material-icons" style="color:#26a69a;">developer_board</i></a>
        </li>
      </ul>
    </div>
  </div>
